/* Include other css files */

@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap");
@import url(variables.css);
@import url(tutorials.css);
@import url(tutorial.css);
@import url(search.css);
@import url(about.css);
@import url(account.css);
@import url(account-details.css);
@import url(contact.css);

html,
body {
  background-color: var(--gray);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 1.7rem;
  padding: 25px;
  text-shadow: 4px 4px 4px var(--gray);
}
h2 {
  font-size: 1.2rem;
}

a {
  font-style: italic;
  font-weight: bold;
}

.wrapper{
  background-color: white;
}

.error{
  color: red;
  font-size: 0.9rem;
  font-style: italic;
  margin-left: 10px;
}

/* header */
header {
  position: fixed;
  top:0;
  z-index: 8;
  width: 100%;
  display: flex;
  background-color: var(--blue);
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

header section {
  position: relative;
  padding-right: 10px;
}

header section > * {
  margin: 0 5px;
}

header section img {
  height: 30px;
}

.logo {
  height: 80px;
  transition: var(--transition-dur);
}

.logo:hover{
  transform: scale(var(--scale1-2));
}

#search {
  display: none;
}

.search-image{
  transition: var(--transition-dur);
}

.search-image:hover{
  transform: scale(var(--scale1-2));
}

#search:checked ~ #search-form {
  display: block;
  z-index: 12;
}

#search-form {
  display: none;
  position: absolute;
  top: -48%;
  right: 100%;
}

#search-form input {
  height: 2rem;
  width: 13rem;
}

.account-image{
  transition: var(--transition-dur);
}

.account-image:hover{
  transform: scale(var(--scale1-2));
}

#menu {
  display: none;
}

.menu-image{
  transition: var(--transition-dur);
}

.menu-image:hover{
  transform: scale(var(--scale1-2));
}

#menu:checked ~ nav {
  transition: var(--transition-dur-0-4);
  left: -10px;
  z-index: 100;
}

.menu-title{
  display: block;
  padding: 8%;
  width: 85%;
  background-color: var(--blue);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

nav {
  transition: var(--transition-dur-0-4);
  left: -1000px;
  position: fixed;
  top: -2px;
  height: 100%;
  width: 40%;
  border: 1px var(--gray) solid;
  background-color: white;
  box-shadow: var(--shadow-def);
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 10;
}

nav ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav ul li {
  font-size: 1.2rem;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: var(--blue);
}

.nav--img{
  display: block;
  height: auto;
  width: 100%;
}

/* Main */
main {
  text-align: center;
  width: 98%;
  margin: 0 auto;
  margin-top: 80px;
  padding-top: 10px;
}

.car-nav {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.carousel-nav img {
  height: 15px;
  margin: 10px;
}

.carousel {
  margin: 10px auto;
  width: 95%;
  border: var(--gray-dark) 1px solid;
  border-radius: var(--radius-def);
  box-shadow: var(--shadow-def);
  overflow: hidden;
}

.car-inner {
  width: 97%;
  height: 300px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 1% 1% 2% 1%;
}

.carousel-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4%;
  column-gap: 2%;
  margin: 1% 3%;
}

.carousel-item {
  border: 1px var(--gray-dark) solid;
  background-color: white;
}

.after {
  padding: 0 1.2%;
  width: 100px;
}

.carousel-item:hover {
  background-color: var(--gray);
}

.carousel-item img {
  margin: 10px 0px;
  width: 100px;
  border-radius: 20%;
}

.carousel-item {
  color: white;
  text-decoration: none;
  position: relative;
}

.carousel-item div {
  background-color: var(--blue);
  padding: 4px 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#previous:hover{
  transition: var(--transition-dur);
  transform: scale(var(--scale1-2));
}

#next:hover{
  transition: var(--transition-dur);
  transform: scale(var(--scale1-2));
}

#circle1:hover{
  transition: var(--transition-dur);
  transform: scale(var(--scale1-2));
}

#circle2:hover{
  transition: var(--transition-dur);
  transform: scale(var(--scale1-2));
}

#circle3:hover{
  transition: var(--transition-dur);
  transform: scale(var(--scale1-2));
}

.start-learning {
  margin: 20px 0px 25px;
}

.learning-item {
  position: relative;
  text-align: left;
  padding: 10px;
  margin: 10px 5px;
  border: 1px var(--gray) solid;
  border-radius: 10px 10px;
  box-shadow: var(--shadow-def);
}

.cta{
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 10px;
  border: 2px var(--blue) solid;
  background-color: var(--blue);
  color: white;
  border-radius: 15% 0%;
  text-decoration: none;
  transition: var(--transition-dur);
}

.cta:hover{
  background-color: white;
  color: var(--blue);
}

/* Footer */
footer {
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

footer a {
  text-decoration: none;
  color: white;
}
