.tutorials {
  margin: 20px 0px 35px;
}

.tutorial-item {
  position: relative;
  text-align: left;
  padding: 10px;
  margin: 15px 5px;
  border: 1px var(--gray) solid;
  border-radius: 10px 10px;
  box-shadow: 5px 5px 10px var(--gray);
}

.tutorial-item a {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 10px;
  border: 2px var(--blue) solid;
  background-color: var(--blue);
  color: white;
  border-radius: 15% 0%;
  text-decoration: none;
}

#tutorials-paging {
  display: flex;
  align-items: center;
  flex-basis: 1;
  justify-content: center;
}

.arrow-left {
  width: 30%;
  margin: 20px;
}

.disabled{
  cursor: not-allowed;
  opacity: 0.5;

}

.arrow-right {
  width: 30%;
  margin: 20px;
}

.page-number {
  font-weight: bold;
}
